<style>
.table td, .table tr { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
</style>
<div id="content-header">
  <%= image_tag('users-icon.jpeg') %>
  <h1> Managing Directors </h1>
  <h3> Listing Managing Directors </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'New Director', new_m_director_path %></li>
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <br/>
  <div class="box">

<table class="table  table-striped table-hover table-bordered">
<thead>
  <tr>
    <th>#</th>
    <th>Unique Code</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Address</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% i = 0 %>
<% @m_directors.each do |m_director| %>
  <tr>
    <td><%= i = i.next %></td>
    <td><%= m_director.unique_id %></td>
    <td><%= m_director.first_name %></td>
    <td><%= m_director.last_name %></td>
    <td><%= m_director.phone1 %></td>
    <td><%= m_director.phone2 %></td>
    <td><%= m_director.address[0..25] %>...</td>
    <td><%= m_director.email %></td>
    <td><%= link_to 'Show', m_director %></td>
    <td><%= link_to 'Edit', edit_m_director_path(m_director) %></td>
    <td><%= link_to 'Destroy', m_director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>
</div>
