
<style>.box{width: 500px;margin: 0px auto;} #extender{ height: 100px;}</style>
<div id="content-header">
  <%= image_tag('users-icon.jpeg') %>
  <h1> Managing Directors </h1>
  <h3> Show Details  </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'All Directors', m_directors_path %></li>
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">
 
 <% unless @m_director.photo.blank? or @m_director.photo.nil? %>
   <div style="text-align:center; "> <%= image_tag(@m_director.photo_url, :size => '125x125', :class => "thumbnail") %> </div>
 <% end %>
 
 <ul id="category-list">
      
      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Unique ID: </div>
        <div class="category-edit"><strong> <%= @m_director.unique_id %> </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Number of partners: </div>
        <div class="category-edit"><strong> <%= link_to @m_director.partners.count, :controller => 'm_directors', :action => 'partners_list', :id => @m_director.id %> </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  First Name: </div>
        <div class="category-edit"> <%= @m_director.first_name %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Last Name: </div>
        <div class="category-edit"> <%= @m_director.last_name %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Phone1: </div>
        <div class="category-edit"> <%= @m_director.phone1 %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Phone2: </div>
        <div class="category-edit"> <%= @m_director.phone2 %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Email: </div>
        <div class="category-edit"> <%= @m_director.email %> </div>
      </li>

 </ul>
  
  <div>

        <div class="category-name"><strong>Address:</strong></div>
        <div class="category-edit" > <%= @m_director.address %> </div>

  </div>
<!-- <p>
  <b>Photo:</b>
  <%= @m_director.photo %>
</p>

<p>
  <b>Unique:</b>
  <%= @m_director.unique_id %>
</p> -->

<br/>
<%= link_to 'Edit', edit_m_director_path(@m_director),:class => "submit-button"%> 

</div>
</div>
