<%full_name = @partner.first_name+' '+@partner.last_name+' ('+@partner.unique_id+')'%>
<%= render :partial => '/partners/partners_head' , :locals => {:title => "Partner: #{full_name}" }%>

<div class="box" style='margin: 0px auto; width: 600px;'>
 <ul id="category-list"> 

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name"> Full Name: </div>
        <div class="category-edit"><strong>  <%= full_name %> </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Unique ID: </div>
        <div class="category-edit"><strong>  <%= @partner.unique_id %> </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Loans Issued: </div>
        <div class="category-edit"><strong>  <%= @loans_issued %> </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name"> Managing Director : </div>
        <div class="category-edit"><strong>  <%= @partner.m_director.first_name %> <%= @partner.m_director.last_name %> - ( <%= @partner.m_director.unique_id %> ) </strong> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  First Name: </div>
        <div class="category-edit"> <%=  @partner.first_name %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Last Name: </div>
        <div class="category-edit"> <%= @partner.last_name %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Phone1: </div>
        <div class="category-edit"> <%= @partner.phone1 %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Phone2: </div>
        <div class="category-edit"> <%= @partner.phone2 %> </div>
      </li>

      <li class="list<%=cycle('odd','even') %>">
        <div class="category-name">  Email: </div>
        <div class="category-edit"> <%= @partner.email %> </div>
      </li>
 </ul>
  <div>
        <div class="category-name"><strong>Address:</strong></div>
        <div class="category-edit" > <%= @partner.address %> </div>
  </div>
<br/>
<%= link_to 'Edit', edit_partner_path(@partner),:class => "submit-button"%> 
</div>
</div>




