
<style>
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;;
}
.table td, .table tr { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.user_info_ul{
  list-style: none;
  width: 400px;
  float:left;
}
.rt_user_info_ul{
  list-style: none;
  width: 400px;
  float:left;
}
.user_info_ul li{
  margin: 5px 0px 5px 0px;
}
.rt_user_info_ul li {
  margin: 5px 0px 5px 0px;
}
</style>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox({
      loadingImage : '../src/loading.gif',
      closeImage   : '../src/closelabel.png'
    })
  }) 
</script>

<div id="content-header">
  <%= image_tag('users-icon.jpeg') %>
  <h1> Rental Details </h1>
  <h3> <%= @rent.tenant_name %> </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "Search Tenant" ,:action => :view_rents %></li>
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <br/>
  <div class="box">

  <%= render :partial => "/rents/list_full_details"%>

  <div class="extend_contract" style="align: center;"> -->  <%= link_to "Extend Contract Period", :controller => "rents", :action => "extend_rent_contract", :id => @rent.id %> <br/><br/> --> <a href="/rents/download_rent_full_details_pdf.pdf?id=<%= @rent.id %>"><%= image_tag 'pdf-icon.png', :size =>'15x15' %> Download PDF Report</a></div>
    <div id="modal-box" style="display:none;"></div>
  </div>
</div>