<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation" class="errorExplanation" >
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="label-field-pair">
    <%= f.label :account_number %>
    <% if !@account_number.nil? or !@account_number.blank? %>
    <%= f.text_field :account_number, :value => @account_number %>
    <% else %>
    <%= f.text_field :account_number %>
    <% end %>
  </div>
  <div class="label-field-pair">
    <%= f.label :reference_person %>
    <%= f.text_field :reference_person %>
  </div>
  <div class="label-field-pair" style="display:none" >
    <%= f.label :director_id %>
    <%= f.number_field :director_id %>
  </div>
  <div class="label-field-pair" style="display:none" >
    <%= f.label :partner_id %>
    <%= f.number_field :partner_id %>
  </div>
  <div class="label-field-pair">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="label-field-pair">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="label-field-pair">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="label-field-pair">
    <%= f.label :phone1 %>
    <%= f.text_field :phone1 %>
  </div>
  <div class="label-field-pair">
    <%= f.label :phone2 %>
    <%= f.text_field :phone2 %>
  </div>

  <div class="label-field-pair-text-area">
    <label for="address"> Address </label>
    <div class="textarea-input-bg"><%= f.text_area :address,:cols => 27, :rows => 5 %></div>
  </div>
  
  <div class="label-field-pair">
   <label> <%= image_tag @customer.image_url.to_s, :size => '20x20' if @customer.image_url %> Identity Photo  </label>
    <%= f.file_field :image %>
  </div>
  <div class="label-field-pair">
    <%= f.label :customer_email %>
    <%= f.text_field :customer_email %>
  </div>
  
  <div class="label-field-pair-text-area">
  <label for="customer_remarks"> Customer Remarks </label>
  <div class="textarea-input-bg"><%= f.text_area :customer_remarks,:cols => 27, :rows => 5 %></div>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'submit-button' %>
  </div>
<% end %>
