<style>
.box {
    width:600px;
    margin: 0px auto;
}
</style>

<%= javascript_include_tag 'prototype' %>
<div id="content-header">
  <%= image_tag('customer.jpeg') %>
  <h1> Customers </h1>
  <h3> Customer Details </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "Add Customer", :action => "new" %></li>
    <li><%= link_to "All Customers", :action => "all_customers" %></li>
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">

    <div class="label-field-pair">
    <label> Search Customer <span class="necessary-field">*</span> </label>
    
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none; float :right;" ) %>
          
      <div class="text-input-bg"><%= text_field_tag "query", params[:query], :autocomplete => 'off', :placeholder =>"Search" %></div>
            
      <div id="page-yield">
        <%= observe_field 'query', :frequency => 1.0,
          :update => 'user_information',
          :url => { :action => 'search_customer' },
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')",
          :with => 'query' %>
      </div>
    <div id="account_id" style="display:none;"></div>  
   
  </div>
   
    <div id="user_info"> </div>
    <div id="modal-box" style="display:none;"></div>
  </div>

<div id="customers"></div>

</div>
</div>
