%style
  :plain
    .btn-info {float:right}
    .div_inflow {float:left; width:450px; margin:10px 0px 0px 10px;}
    .outflow {float: right; width: 450px; margin: 10px 0px 0px 10px;}
    .side_info {background-color: #efefef; padding: 15px; border: 1px solid #ccc;}
    .total_income {text-align:center; margin:5px; border:1px solid #e5e5e5; padding: 15px; background-color: #efefef}

-inflow ||= (@finance_inflows.map(&:amount).inject{|sum,x| sum.to_i + x.to_i}).to_i
-outflow ||=  (@finance_outlows.map(&:amount).inject{|sum,x| sum.to_i + x.to_i}).to_i
-total_income ||= inflow - outflow
-month ||= Date.today().at_beginning_of_month().strftime("%B")

= render :partial => 'personal_finance/shared/header',  :locals => {:title => "Balance Sheet"}
.total_income
  %strong
    = month
    Month's Total Income Balance : Rs
  %strong{ :style => 'color: brown;'}
    = total_income
  %em
    (After Deducting all Expenditures of this month)
.main_balance

.div_inflow
  .side_info
    Total Income Rs:
    %strong{ :style => 'color: brown;'}
      = inflow
      = link_to "Add Inflow", polymorphic_path([:new_finance_inflow]), :class => 'btn btn-info'
  %br
  = render :partial => 'inflow'

.outflow
  .side_info
    Total Expenditure Rs:
    %strong{ :style => 'color: brown;'}
      = outflow
      = link_to "Add Outflow", polymorphic_path([:new_finance_outflow]), :class => 'btn btn-info'
  %br
  = render :partial => 'outflow'