<style>
.main_balance{

}
.div_inflow{
float: left;
width: 450px;
margin: 10px 0px 0px 10px;
/*background-color: red;*/
}
.outflow{
float: right;
width: 450px;
margin: 10px 0px 0px 10px;
/*background-color: yellow;*/
}
</style>

<div id="content-header">
  <%= image_tag 'home.png' %> 
  <h1> Welcome </h1>
  <h3> Financial Data Management System </h3>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to " My Profile ", :controller => "customers", :action => "my_profile" %></li>
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">

    <div class="">
    </div>

<div style="text-align:center;margin: 5px; border:1px solid #e5e5e5;" >  Total balance : Rs. </div>

<div class="main_balance">


<div class="div_inflow" >
<div>
<p>Total income = Rs.  </p>
</div>
<%= render :partial => "inflow" %>
</div>

<div class="outflow">
<div>
<p>Total income = Rs.  </p>
</div>
<%=  render :partial => 'outflow' %>
</div>
</div>


</div>
</div>

