<style>
#header_bg{
  display:none;
}
#login{
  width: 500px;
  margin: 0px auto;
  padding: 10px;
  background-color: #e5e5e5;
  text-align: center;
  margin-top: 180px;
}
.login-heading{
  margin: 10px;
  font-size: 14px;
  text-align: center;
}
</style>

<div id="login" class="centerbox">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <% if !flash.empty? %>
            <div id="notice"><%= flash[:notice] %></div>
        <% end %>
         <div class = "login-heading"  >
            <span>Ranga's Financial Entrprise</span>  
            <h2>Sign in</h2>
         </div>

         <%= f.email_field :email, :maxlength => 40, :size => 20, :placeholder =>'username' %>

         <%= f.password_field :password ,:size =>20, :placeholder => "password"%>

         <%= f.submit "Sign in", :class => "submit" %>
  <% end %>
 </div>
<!-- 
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :placeholder => 'Username' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password , :placeholder => 'Password' %></div>

  <div><%= f.submit "Sign in" %></div>
<% end %> -->


</div>