<% if params[:action] == 'download_transaction_pdf' %>
  <table class="table table-bordered table-hover" border="1" cellspacing="0">
<% else %>
  <table class="table table-bordered table-hover">
<% end %>
  <tr>
    <th>Tran date</th>
    <th>Particulars</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Balance</th>
  </tr>

<% @di_transactions.each do |di_transaction| %>
  <tr>
    <td><%= di_transaction.tran_date.strftime("%d-%m-%Y") %></td>
    <td>
       <% if !di_transaction.dailyinterest_id.nil? %>
          <%= link_to(di_transaction.dailyinterest.loan_name) %>  <%= di_transaction.particulars %>
      <% elsif !di_transaction.monthly_f_investment.nil? and !di_transaction.monthly_f_investment.partner.nil? %>
          PID -<%= link_to(di_transaction.monthly_f_investment.partner.unique_id+' '+di_transaction.monthly_f_investment.partner.first_name) %>  <%= di_transaction.particulars %>
      <% else %>
          <%= di_transaction.particulars %>
      <% end %>
    </td>
    <td><%= di_transaction.debit %></td>
    <td><%= di_transaction.credit %></td>
    <td><%= di_transaction.balance %></td>
  </tr>
<% end %>

<!-- -------------- -->
<tr>
  <td> </td>
  <td><label class="note-bal">
        <strong>TRANSACTION TOTAL</strong> 
      </label>
  </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @di_transactions.map(&:debit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
     </label>
   </td>
  <td>
    <label class="note-bal">
    <strong> Rs. <%= @di_transactions.map(&:credit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
    </label>
  </td>
  <td> </td>
</tr>

<!-- -------------- -->

<tr>
  <td> </td>
  <td>
    <label class="note-bal"> 
      <strong>CLOSING BALANCE </strong> 
    </label> 
  </td>
  <td> </td>
  <td> </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @di_transactions.last.balance unless @di_transactions.last.nil? %> </strong> 
    </label>
  </td>
</tr>

<!-- ---------------- -->
</table>