<style>
.table td, .table tr { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.total-invest-info{text-align: right;padding:8px 50px 8px 0px ;font-size: 14px;margin: 0px;background-color: #f9f9f9;border-top: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.total-invest-info a{text-align:left;float: left;}
.note-bal{ font-size: 12px; letter-spacing: 1px; }
.download-pdf{font-weight: bold; text-decoration: underline; padding: 3px;}
</style>
<div id="content-header">
  <%= image_tag('users-icon.jpeg') %>
  <h1> Company's Daily Interest Transactions </h1>
  <h3> Daily Interest Transactions </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <br/>
  <div class="box">
    <%= render :partial => "/shared_partials/date_range_filter", :locals => {:form_action => "/di_transactions"}%>

    <div class="total-invest-info">
      <% if params.include? "start_date" and params.include? "end_date" %>
          <a href="/di_transactions/download_transaction_pdf.pdf?start_date=<%= params[:start_date][0] %>&end_date=<%= params[:end_date][0] %>;" class="download-pdf", style ='margin-left: 15px;'> <%= image_tag 'pdf-icon.png', :size =>'15x15' %> Download Pdf Report</a>
        <% else%>
          <a href="/di_transactions/download_transaction_pdf.pdf" class="download-pdf", style ='margin:0px 10px 0px 10px;'><%= image_tag 'pdf-icon.png', :size =>'15x15' %> Download Pdf Report</a>
        <% end %>

      Closing Balance:<strong> Rs. <%= @total %>  /- </strong>
    </div>

    <%= render :partial => "/di_transactions/di_transactions_list"%>
  </div>
</div>

