<% if params[:action] == 'download_transaction_pdf' %>
  <table class="table table-bordered table-hover" border="1" cellspacing="0">
<% else %>
  <table class="table table-bordered table-hover">
<% end %>


  <!-- -------------- -->

  <tr>
    <th>Tran date</th>
    <th>Particulars</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Balance</th>
  </tr>

<!-- -------------- -->


<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.tran_date.strftime("%d-%m-%Y") %></td>
    <td>
      <% if !transaction.monthly_finance_id.nil? %>
          <%= link_to(transaction.monthly_finance.loan_name) %>  <%= transaction.particulars %>
      <% elsif !transaction.monthly_f_investment.nil? and !transaction.monthly_f_investment.partner.nil? %>
          PID -<%= link_to(transaction.monthly_f_investment.partner.unique_id+' '+transaction.monthly_f_investment.partner.first_name) %>  <%= transaction.particulars %>
      <% else %>
          <%= transaction.particulars %>
      <% end %>

    </td>
    <td>Rs. <%= transaction.debit %></td>
    <td>Rs. <%= transaction.credit %></td>
    <td>Rs. <%= transaction.balance %></td>
  </tr>
<% end %>

<!-- -------------- -->
<tr>
  <td> </td>
  <td><label class="note-bal">
        <strong>TRANSACTION TOTAL</strong> 
      </label>
  </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @transactions.map(&:debit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
     </label>
   </td>
  <td>
    <label class="note-bal">
    <strong> Rs. <%= @transactions.map(&:credit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
    </label>
  </td>
  <td> </td>
</tr>

<!-- -------------- -->

<tr>
  <td> </td>
  <td>
    <label class="note-bal"> 
      <strong>CLOSING BALANCE </strong> 
    </label> 
  </td>
  <td> </td>
  <td> </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @transactions.last.balance unless @transactions.last.nil? %> </strong> 
    </label>
  </td>
</tr>

<!-- ---------------- -->

</table>