<style>
.table td, .table tr { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.total-invest-info{
  /*background-color: red;*/
  text-align: right;
  padding:8px 50px 8px 0px ;
  font-size: 14px;
  margin: 0px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.note-bal{ font-size: 12px; letter-spacing: 1px;  }
</style>
<div id="content-header">
  <%= image_tag('users-icon.jpeg') %>
  <h1> Company's Monthly Finance Transactions </h1>
  <h3> Listing Monthly Finance Transactions </h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
   
  </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <br/>
  <div class="box">

<div class="total-invest-info">Closing Balance:<strong> Rs. <%= @total %>  /- </strong></div>

<table class="table table-bordered table-hover">

  <!-- -------------- -->

  <tr>
    <th>Tran date</th>
    <th>Particulars</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Balance</th>
  </tr>

<!-- -------------- -->


<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.tran_date.strftime("%d-%m-%Y") %></td>
    <td>
      <% if !transaction.monthly_finance_id.nil? %>
          <%= link_to(transaction.monthly_finance.loan_name) %>  <%= transaction.particulars %>
      <% elsif !transaction.monthly_f_investment.nil? and !transaction.monthly_f_investment.partner.nil? %>
          PID -<%= link_to(transaction.monthly_f_investment.partner.unique_id+' '+transaction.monthly_f_investment.partner.first_name) %>  <%= transaction.particulars %>
      <% else %>
          <%= transaction.particulars %>
      <% end %>

    </td>
    <td>Rs. <%= transaction.debit %></td>
    <td>Rs. <%= transaction.credit %></td>
    <td>Rs. <%= transaction.balance %></td>
  </tr>
<% end %>

<!-- -------------- -->
<tr>
  <td> </td>
  <td><label class="note-bal">
        <strong>TRANSACTION TOTAL</strong> 
      </label>
  </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @transactions.map(&:debit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
     </label>
   </td>
  <td>
    <label class="note-bal">
    <strong> Rs. <%= @transactions.map(&:credit).inject{|sum,x| sum.to_i + x.to_i} %> </strong>
    </label>
  </td>
  <td> </td>
</tr>

<!-- -------------- -->

<tr>
  <td> </td>
  <td>
    <label class="note-bal"> 
      <strong>CLOSING BALANCE </strong> 
    </label> 
  </td>
  <td> </td>
  <td> </td>
  <td>
    <label class="note-bal">
      <strong> Rs. <%= @transactions.last.balance unless @transactions.last.nil? %> </strong> 
    </label>
  </td>
</tr>

<!-- ---------------- -->

</table>
</div>
</div>
<%= will_paginate @transactions %>