<!DOCTYPE html>
<html>
<head>

  <title>FinacialDataManagementSystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "facebox","hoverIntent","superfish" %>
  <%= stylesheet_link_tag "facebox","superfish" %>
  <%= calendar_date_select_includes %>

  <script>
    jQuery(function(){
      jQuery('ul.sf-menu').superfish();
    });
  </script>

  <style>
  .drop-down-menu{margin-top: -15px;}
  </style>

</head>
<body>
    <div id="header_bg">
      <div id="header">
        <div id="outer-header-link">
          <div id="header_link" >
          <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", logout_path, :class => "btn btn-mini"%>
          <% else %>
            Date: <%= Date.today.strftime("%d, %B  %Y") %> 
          <% end %>
          </div>
        </div>
        <div style="float: left; ">
          <a href="/">
           <h3><%= link_to "Ranga's Financial Entrprise", root_path %> </h3>
          </a> 
        </div>
        <div id="outer-main-menu" style="margin-top: 18px;">

<!-- get the menu bar from partial if user is signed in-->
    <% if user_signed_in? %>
      <%= render :partial => "/layouts/menu_bar"%>
    <% end %>

        </div>
        <div id="outer-autosuggest-menu">
          <ul id="main-menu">
          </ul>
        </div>
      </div>
    </div>

    <div id="content_wrapper" >
      <div id="content"> <%= yield %></div>
    </div>
    
      <div id="footer">
      <div id="footer_logo">
        <div id="powered_by">
          
        </div>
        <a href="http://ozoneitsolutions.com/" target="_blank" class="footer-logo"></a>
      </div>
    </div>
    
</body>
</html>
